<div class="wrapper">
  <p class="post_title">User all</p>
  <div class="index-content">

    <% @user.each do |user| %>
    <div class="user-name">
      <div><%= link_to user_path(user.id) do %>
      <%= image_tag user.image_url, class:"icon" %></div> 
      <div class="username"><%= user.username%></div>
      <% end %>
    </div>
  <% end %>



  </div>
</div>