<div class="top-wrapper">

  <div class="title-wrapper">
    <div class="title-parent">
      <div class="mental-timetravel">
        <p class="mental">
          Mental
        </p>
        <p class="timetravel">
          timetravel
        </p>
      </div>
      <div class="sub-btn">
        <div class="signup">
          <p class="sign">
            Sign
          </p>
          <div class="up">
            up
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="msg-wrapper">
    <div class="topmsg">
      <h3>あなたの思い出を</h3>
      <h3>可視化しよう。</h3>
    </div>
  </div>
</div>