<div class="toppage-wrapper">

  <div class="second-wrapper">
    <div class="-wrapprer">
      <i class="fas fa-globe-asia awesome"></i>
    </div>
    <div class="top-wrapper">
      <div class="top title1">
        <span class="Mdayo">M</span>ental
      </div>
      <div class="top title2">
        Timetravel
      </div>
      <div class="topbtn">
      <%= link_to "Sign up" ,  new_user_registration_path, class:"signup first" %>
      </div>
      <div classss="topbtn">
      <%= link_to "Log in" ,  new_user_session_path, class:"signup second" %>
      </div>
      </div>
    </div>
  </div>
</div>