// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.profile {
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: a8dadc;
  border-radius: 30px;
  padding: 10px;
}


.icon_image {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
  margin: 10px;
}

h1 {
  color: black;
}

.user-edit {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.user-edit h3 {
  font-size: 40px;
}

a.profile {
  margin: 10px;
  height: 15px;
  background-color: #457b9d;
  color: white;
}

input.btn.btn-danger.btn-block,
input.btn.btn-primary.btn-block{
  margin: 20px;
  background-color: #457b9d;
  padding: 10px;
  border: thin;
  border-radius: 20px;
  width: 80px;
  font-family: 'klee',sans-serif;
}

.sign-up-wrapper {
  width: 100%;
  height: 100vh;
}
.sign-up-form {
  border: 2px solid #457b9d;
  width: 20%;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
}

