// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.profile {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: pink;
  padding: 20px;
  border-radius: 30px;
}


.icon_image {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

h1 {
  color: black;
}

.user-edit-wrapper {
  margin: 0 auto;
  width: 50%;
}

.user-edit-content-wrapper {
  border: solid 1px #000;
  padding: 30px;
}

.content-wrapper {
  width: 100%;
  text-align: center;
}