// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.profile {
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: #a8dadc;
  border-radius: 30px;
  padding: 10px;
}

.icon_image {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
  margin: 10px;
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Kaiti SC',sans-serif;
}
.user-wrapper {
  width: 40%;
  margin: auto;
}
.user-info{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.user-edit h3 {
  font-size: 40px;
  text-align: center;
}

a.profile {
  margin: 10px;
  height: 15px;
  background-color: #457b9d;
  color: white;
}

.user-follow {
  text-align: center;
}
.edit{
  width: 30%;
}
.user-post {
  margin-top: 30px;
}

input.btn.btn-danger.btn-block,
input.btn.btn-primary.btn-block{
  margin: 20px;
  background-color: #457b9d;
  padding: 10px;
  border: thin;
  border-radius: 20px;
  width: 80px;
  font-family: 'klee',sans-serif;
}

.sign-up-wrapper,.user-edit-content-wrapper{
  width: 80%;
  height: 100vh;
  margin: auto;
}
.sign-up-form,.edit-form {
  border: 2px solid #457b9d;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  background-color:#f1faee
}


.edituser {
  text-align: center;
}


@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  /* new */
  .edit{
    width: 100%;
  }
  /* new edit */
  .sign-up-wrapper,.user-edit-content-wrapper{
    width: 100%;
    height: 100vh;
    margin: auto;
  }

}
@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  .user-wrapper {
    width: 90%;
  }
  .edit{
    width: 90%;
  }
  .user-post {
    width: 100%;
  }
}

